<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/font-awesome/4-4-0/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="http://demos.creative-tim.com/fresh-bootstrap-table/assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
    <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://demos.creative-tim.com/fresh-bootstrap-table/assets/js/bootstrap-table.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="fresh-table toolbar-color-blue">
                    <tbody>

                    <table id="fresh-table" class="table">
                        <thead>
                        <th data-field="name" data-sortable="true">Company name</th>
                        <th data-field="name" data-sortable="true">Position</th>
                        <th data-field="country" data-sortable="true">Country</th>
                        <th data-field="city">City</th>
                        <th data-field="description">Description</th>
                        <th data-field="price">Price</th>
                        <th data-field="price">Accept</th>

                        <tr th:each="vacancy:${vacancies}">
                            <form th:action="@{/acceptVacancy/{id}(id=${vacancy.id})}" method="post">
                            <td><span th:text="${vacancy.companyName}"></span> </td>
                            <td><span th:text="${vacancy.position}"></span> </td>
                            <td><span th:text="${vacancy.country}"></span></td>
                            <td><span th:text="${vacancy.city}"></span></td>
                            <td><span th:text="${vacancy.description}"></span></td>
                            <td><span th:text="${vacancy.price}"></span></td>
                            <td><button class="btn" type="submit">Accept</button></td>
                            </form>
                        </tr>
                        </thead>
                    </table>
                    </tbody>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>